body, #app {
  min-height: 100vh;
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-image: url('@/assets/images/parchemin.jpg');
  background-size: cover; /* couvre tout l’écran */
  background-repeat: no-repeat;
  background-attachment: fixed; /* le fond reste en place */
  background-position: center center;
}
